web ser/web4/webservices/Axis2/Lab11/resources/StudentService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://student.axis2.jlcindia.com" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://student.axis2.jlcindia.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax21="http://student.axis2.jlcindia.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
<wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://student.axis2.jlcindia.com/xsd">
            <xs:complexType name="Student">
                <xs:sequence>
                    <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fname" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lname" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="sid" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://student.axis2.jlcindia.com" xmlns:ax22="http://student.axis2.jlcindia.com/xsd">
            <xs:import namespace="http://student.axis2.jlcindia.com/xsd"/>
            <xs:element name="getStudent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="sid" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStudentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:Student"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addStudent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="stu" nillable="true" type="ax22:Student"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="getStudentRequest">
    <wsdl:part name="parameters" element="ns:getStudent">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addStudentRequest">
    <wsdl:part name="parameters" element="ns:addStudent">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStudentResponse">
    <wsdl:part name="parameters" element="ns:getStudentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="StudentServicePortType">
    <wsdl:operation name="addStudent">
      <wsdl:input message="ns:addStudentRequest" wsaw:Action="urn:addStudent">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getStudent">
      <wsdl:input message="ns:getStudentRequest" wsaw:Action="urn:getStudent">
    </wsdl:input>
      <wsdl:output message="ns:getStudentResponse" wsaw:Action="urn:getStudentResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StudentServiceSoap12Binding" type="ns:StudentServicePortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getStudent">
      <soap12:operation soapAction="urn:getStudent" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addStudent">
      <soap12:operation soapAction="urn:addStudent" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StudentServiceSoap11Binding" type="ns:StudentServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getStudent">
      <soap:operation soapAction="urn:getStudent" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addStudent">
      <soap:operation soapAction="urn:addStudent" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StudentServiceHttpBinding" type="ns:StudentServicePortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="getStudent">
      <http:operation location="StudentService/getStudent"/>
      <wsdl:input>
        <mime:content part="getStudent" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getStudent" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addStudent">
      <http:operation location="StudentService/addStudent"/>
      <wsdl:input>
        <mime:content part="addStudent" type="text/xml"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudentService">
    <wsdl:port name="StudentServiceHttpSoap12Endpoint" binding="ns:StudentServiceSoap12Binding">
      <soap12:address location="http://localhost:9999/Lab9/services/StudentService.StudentServiceHttpSoap12Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="StudentServiceHttpSoap11Endpoint" binding="ns:StudentServiceSoap11Binding">
      <soap:address location="http://localhost:9999/Lab9/services/StudentService.StudentServiceHttpSoap11Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="StudentServiceHttpEndpoint" binding="ns:StudentServiceHttpBinding">
      <http:address location="http://localhost:9999/Lab9/services/StudentService.StudentServiceHttpEndpoint/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
